*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: black;
}

/* Index Html*/

/* Header*/
.logo img{
    width: 100px;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 7vw;
    background-color: black;
    border-bottom: 2px solid rgba(252, 196, 124);
    box-shadow: 0 2px 20px rgba(253, 124, 124); 
}

.navlinks{
    flex: 1;
    text-align: right;
    padding-top: 20px;
    margin-right: 30px;
}

.navlinks ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
}
.navlinks ul li a{
    
    text-decoration: none;
    font-size: 14px;
    color: white;
    
}
.navlinks ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: gold;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navlinks ul li:hover::after{
    width: 100%;
}


.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#side-text{
    font-weight: 600;
    
}
#side-text a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
#menu-button{
    display: none;
}

/* landing page*/
.home{
    min-height: 100vh;
    width: 100%;
    background-image: url(/img/hero-slider-1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0 7vw;
}

.main-slide{
    display: flex;
    align-items: center;
    width:90%;
    color: azure;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.menu-btn{
    display: inline-block;
    text-decoration: none;
    color: azure;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 10px 10px rgba(182, 136, 10, 0.808);
}
.menu-btn:hover{
    border: 1px solid rgb(250, 207, 150) ;
    background:rgba(182, 136, 10, 0.808) ;
    transition: 1s;
}
.main-slide h1{
    color: white;
}
.main-slide p{
    color: rgb(250, 207, 150);
}

/*Categories*/
.food-items{
    margin: 70px 0;
    padding: 20px 0;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0 10px 8px  rgb(250, 207, 150);
}
.item{
    width: 250px;
    padding: 30px;
    text-align: center;
}
.item div{
    height: 160px;
}
.item img{
    width: 160px;
    margin-bottom: 15px;
}
.item p{
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.item-btn{
    display: inline-block;
    text-decoration: none;
    color: azure;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 10px 10px rgba(182, 136, 10, 0.808);
}
.item-btn:hover{
    border: 1px solid rgb(250, 207, 150) ;
    background:rgba(182, 136, 10, 0.808) ;
    transition: 1s;
}

/*Why choose us*/
.main-slide2{
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.food-img{
   flex: 0.5;
}
.food-img img{
    border-radius: 50%;
    max-width: 500px;
    width: 45vw;
   
}
.questions{
    flex: 0.5;
    flex-direction: column;
    margin-left: 40px;
    display: flex;
}
.questions h2{
    font-size: 35px;
    margin-bottom: 15px;
}

.q-ans{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}
.q-ans img{
    width: 45px;
}
.q-ans h4{
    margin-bottom: 10px;
    color: rgb(250, 207, 150) ;
}
.q-ans p{
    font-size: 13px;
}
.q-ans div:first-child{
    padding: 10px;
}
.q-ans div:nth-child(2){
    display: flex;
    flex-direction: column;
}

/*Menu Snippet*/
.menu1 {
    text-align: center;
}
.menu1 h2{
    color: rgb(250, 207, 150) ;
}
.container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
.menu-items{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(250, 207, 150);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(241, 178, 4, 0.247) ;
    margin: 15px 20px;
    transition: 0.2s ease;
    position: relative;
}
.menu-items:hover{
    box-shadow: 20px 20px 30px rgba(182, 136, 10, 0.671) ;
}
.menu-items img{
    width: 100%;
    border-radius: 20px;
}
.des{
    padding: 10px 0;
    text-align: start;
}
.des span{
    font-size: 12px;
    color: gray;
}
.des h3{
    padding-top: 5px;
}
.des h5{
    padding-top: 7px;
}
.cart{
    position: absolute;
    bottom: 20px;
    right: 50px;
}

.menu1 p, .menu1 span {
    font-size: 16px;
    padding-top: 20px;
    cursor: pointer;
    display: block;
    transition: transform 0.2s ease; 
}

.menu1 p:hover, .menu1 span:hover {
    transform: translateY(5px); 
}



/* Footer*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.icons{
    justify-content: space-between;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer p{
    font-size: 12px;
}
.fa-instagram{
    margin: 10px;
    color: black;
}
.fa-phone{
    margin: 10px;
    color: black;
}
.fa-tiktok{
    margin: 10px;
    color: black;
}
.fa-twitter{
    margin: 10px;
    color: black;
}



/* Menu Html*/

/*Landing Page*/
.sub-header{
    min-height: 70vh;
    width: 100%;
    background-image: url(/img/hero-slider-2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 7vw;
    background-color: black;
    border-bottom: 2px solid rgb(138, 80, 5);
    box-shadow: 0 2px 20px rgba(253, 124, 124);
}
.sub-header h2{
    margin-top: 30px;
    color: rgb(250, 207, 150);
    border-bottom: 1px solid  rgba(182, 136, 10, 0.808);
    padding: 20px 0;
}
.sub-header p{
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
}

/* Shopping cart Sidebar*/

.hidden{
    width: 400px;
 
    color:rgba(182, 136, 10, 0.808) ;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 100px;
    display: none;
    
    grid-template-rows: 70px 1fr 70px ;
    z-index: 999;
}
.carttab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.carttab .cartbtn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.carttab .cartbtn button{
    background-color: rgba(182, 136, 10, 0.808) ;
    font-weight: 500px;
    cursor: pointer;
}
.carttab .cartbtn .close{
    background-color: rgb(182, 81, 14);
}
.cart-items img{
    width: 100%;
    border-radius: 50%;
}
.cart-items{
    display: grid;
    grid-template-columns: 70px 120px 50px 1fr;
    gap: 15px;
    text-align: center;
    align-items: center;
    padding: 10px;
    
}
.cart-items:nth-child(even){
    background-color: rgb(43, 39, 39);
}
.quantity span{
    width: 25px;
    height: 25px;
   cursor: pointer;
   margin-right: 2px;
}
    /*for overflow(scrollbar)*/
.listcart{
    overflow: auto;
    flex-grow: 1;
}
.listcart::-webkit-scrollbar{
    width: 0.1;
}
    /*to display cart*/
     .carttab {
        right: 0; /* Slide in when cart is shown */
       
        overflow: auto;
        backdrop-filter: blur(10px);
        width: 400px;
        
        color: rgba(182, 136, 10, 0.808);
        position: fixed;
        top: 0;
        right: 0; 
        height: 600px;
        z-index: 9999; 
        display: grid;
        grid-template-rows: 60px 1fr 25px;
    
    }
    .close{
        padding: 20px;
    }

/*Total*/
.total{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}
.total h5{
    padding: 5px;
}
.total h4{
    margin-left: 10px;
}

/*coupon*/
.coupon{
   margin-top: 2px;
   margin-bottom: 7px;
}
.coupon h3{
    padding-bottom: 10px;
    font-size: 16px;
    color: rgba(209, 156, 10, 0.808);
}
.coupon input{
    padding: 7px;
    margin-left: 10px;
    margin-right: 15px;
    outline: none ;
    width: 60%;
    border-radius: 10px;
    border: 1px solid rgba(182, 136, 10, 0.808);
    color: black;
}
.coupon-btn{
  
    text-decoration: none;
    color: azure;
    border: 1px solid rgba(182, 136, 10, 0.808);
    padding: 7px 30px;
    font-size: 13px;
    background: black;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(182, 136, 10, 0.808);
}


/*Styling for the menu is in menu1 in index html*/




/* CheckOut page*/

/*header*/
#check-head{
    background-image: url(/img/hero-slider-3.jpg);
    border-bottom: 2px solid rgb(138, 80, 5);
    box-shadow: 0 2px 20px rgb(230, 184, 59);
}
#check-head .logo{
    margin-top: 20px;
}
.cont{
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    justify-content: flex-start;
}

.cart-summary{
    box-sizing: border-box;
    margin-top: 40px;
    margin-left: 30px;
    box-shadow: 0 2px 20px rgb(87, 65, 4);
    width: 400px;
    height: 150px;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: center;
}
.cart-summary p{
    font-size: 13px;
    padding-top: 10px;
}
.cart-summary hr{
    width: 50%;
    margin: 0 auto;
    margin-top: 5px;
}

.address{
    text-align: center;
    margin-left: 20%;
    display: flex; 
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
}
.address h2{
    font-size: 20px;
    border-bottom: 2px solid rgb(87, 65, 4) ;
}
.address p{
    font-size: 12px;
    padding-top: 2px;
}
.address input{
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(58, 54, 38) ;
    margin-top: 10px;
}

/*Payment*/
.payment{
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 70%;
    border: 1px solid rgba(182, 136, 10, 0.808);
    height: 80vh;
    margin-top: 40px;
    margin-left: 15%;
    border-radius: 7px;
}

.payment h2{
    text-align: center;
    margin-top: 10px;
    color:  rgb(134, 99, 3);
}
.payment hr{
    width: 50%;
    margin: 0 auto;
    margin-top: 5px;
    border-color:  rgb(87, 65, 4);
}
.payment img{
    margin-top: 20px;
    margin-left: 35%;
}
.card-details{
    margin-left: 20%;
}
.card-details div{
    margin: 10px;
}
.card-details input{
    padding: 10px;
    width: 400px;
    border-radius: 20px;
    color: black;
}
.card-details p{
    margin-bottom: 10px;
}
#cvv{
    width: 100px;
}
#ex-date{
    width: 100px;
}
#pay-btn{
    margin-left: 30%;
}




@media only screen and (max-width: 1130px) {

    #hideOnMobile{
        display: none;
    }
    #menu-button{
        display: block;
    }
      
    .sidebar{
        width: 60%;
    }

    /*Why choose us*/
    .food-img{
        flex: 1;
        text-align: center;
        margin-bottom: 20px;
    }
    .food-img img{
        width: 70vw;
    }
    .questions{
        flex: 1;
        margin-top: 30px;
    }
    .questions h2{
        margin-bottom: 30px;
    }
    .q-ans p{
        margin-bottom: 30px;
    }
    .menu-items{
            flex: 1;
            text-align: center;
            margin-bottom: 20px;
    }

    /*Checkout*/
    .payment{
        height: 55vh;
        
    }
    .payment img{
        width: 60%;
        margin-left: 60px;
    }
    .card-details input{
        width: 200px;
    }
    #pay-btn{
        margin-left: 30px;
    }
        
}



